.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-input {
    width: 220px;
    display: flex;
}

.horizontal {
    width: 100%;
    display: flex;
}

.cropped1 {
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    border: 5px solid black;
}